<!-- <h1>StaticPages#home</h1> -->
<!-- <p>Find me in app/views/static_pages/home.html.erb</p> -->
<!-- <div class="topicWrapper">
  <div class="form-inline well">
    <fieldset>
      <input type="text" class="input-medium" id="user_name">
      <input type="text" class="input-xlarge" id="message_topic">
      <button id="send_topic" class="btn btn-primary">Send</button>
    </fieldset>
  </div>
  <div id="topic" class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket">
  </div>
</div>
 -->
 <div class="modal" id="myModal">
   <div class="modal-header">
     <!-- <span class="close closeBtn" data-dismiss="modal">×</span> -->
     <h3>enter your name</h3>
   </div>
   <div class="modal-body">
    <input type="text" class="input-medium" id="user_name" placeholder='user_name'>
    <button id='send_username' class="btn btn-primary">Join</button>
  </div>
<!--   <div class="modal-footer">
   <span class="btn closeBtn" >Close</span>
 </div>
 --></div>
<div class="modal" id="enableAPI">
<!--    <div class="modal-header">
     <h3>Please enter name :)</h3>
   </div> -->
   <div class="modal-body">
    <span class="char" style="font-size:47px; line-height: 47px;">P</span>
    <span class="char" style="font-size:29px; line-height: 29px;">l</span>
    <span class="char" style="font-size:25px; line-height: 25px;">e</span>
    <span class="char" style="font-size:37px; line-height: 37px;">a</span>
    <span class="char" style="font-size:33px; line-height: 33px;">s</span>
    <span class="char" style="font-size:35px; line-height: 35px;">e </span>
    <span class="char" style="font-size:51px; line-height: 41px;">A</span>
    <span class="char" style="font-size:41px; line-height: 41px;">l</span>
    <span class="char" style="font-size:42px; line-height: 23px;">l</span>
    <span class="char" style="font-size:37px; line-height: 37px;">o</span>
    <span class="char" style="font-size:29px; line-height: 29px;">w </span>
    <span class="char" style="font-size:49px; line-height: 49px;">A</span>
    <span class="char" style="font-size:39px; line-height: 39px;">P</span>
    <span class="char" style="font-size:45px; line-height: 41px;">I </span>
    <span class="char" style="font-size:45px; line-height: 53px;">:</span>
    <span class="char" style="font-size:45px; line-height: 57px;">)</span>
  </div>
</div>
<script>

$('#enableAPI').hide()
 </script>

<canvas id="fft_graph"></canvas>
<br><br>
 <div class="menko_input_field">
  <span id="volume"></span>
  <span id='text_cursor'>|</span>
</div>

<div class="postWrapper">
  <div id="posts" class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket">
  </div>
  <div id="topics">

  </div>
  <br>
</div>

