// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: auto;
  white-space: nowrap;
  overflow-x: scroll;
}
.label-info {
	display: inline !important;
}
#chat {
	height: 290px;
	overflow: auto;
}
.form-inline {
  margin-bottom: 0;
  .input-xlarge{
    width: 240px;
  }
}

.topic_table {
  .topic_column {
    width: 180px;
    white-space: normal;
    // float: left;
    display: inline-table;
  }
  .message{
    // border: 1px #333 solid;
    background: #ddd;
    border-radius: 10px;
    padding:0 5px 5px;
  }
}

#footer {
  background: #ccc;
}